.ContactSocials {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    & *:hover {
        opacity: 0.75;
        transition: 0.1s;
    }
}