.SingleProjectPage{
    display: flex;

    justify-content: center;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
}

.imageContainer{
    position: relative;
    height: 300px;
    width: 100%;
}
.button{
    padding: 1rem 2rem;
    font-weight: 500;
    margin: 0 1rem 0 0;
    transition: 0.15s;
    &.deploy{
        background-color: #1179F7;
        &:hover{
            background-color: #0f63c9;
        }
    }
    &.respository{
        background-color: #163964;
        &:hover{
            background-color: #214e88;
        }
    }
    
}
