.nav {
  padding-inline: 1rem;
    background-color: #000000;
    width: 100vw;
}
.navMobile{
  position:relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}
.links{
  display:flex;
  flex-direction: column;
  height: 12rem;
  align-items: center;
  justify-content: center;
  a{
    padding: 1rem;
    :hover{
      color:black;
    }
  }
  // margin-top: -12rem;
}
.logo_lang {
  display: flex;
  width: max-content;
}

@media only screen and (min-width: 960px) {
  .navMobile{
    display: block;
    width: max-content;
  }
  .nav{
    padding: 0;
    width: 100vw;
    max-width: 1200px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
  }
  .links{
    height:auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 20rem;
    width: 100%;
    align-items: center;
    
  }
}