.nav {
  background-color: #000000;
  width: 100vw;
}

.navMobile {
  padding: 1rem;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.links {
  background-color: black;
  display: flex;
  position: relative;
  flex-direction: column;

  box-shadow: 0 3px #202020;
  height: 12rem;
  margin: -12rem 0 0 0;
  align-items: center;
  justify-content: center;
  z-index: 1;

  a {
    padding: 1rem;

    &:hover {
      background-color: #202020;
    }
  }
}

.logo_lang {
  display: flex;
  width: auto;
  gap: .5rem;
}

.logo_image {
  -webkit-user-drag: none;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 960px) {
  .navMobile {
    display: block;
    width: max-content;
  }

  .nav {
    padding: 0;
    width: 100vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .links {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 20rem;
    align-items: center;
    margin-top: 0;
  }
}