.RecentProjects {
    padding: 1rem;
    margin: 3rem 0 5rem 0;
}

.more {
    font-size: 1.2rem;
    color: #1179F7;

    cursor: pointer;

    &>a {
        margin: 1rem 0 0 0;
        background-color: white;
    }

    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 768px) {
    .projects {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}